.doc-filter{
    display: flex;
    gap: 20px;
    
    
}

.doc-btns{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}
.doc-btn{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.doc-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.doctor{
    border: none;
}

.doctorInfo{
    width: 80vw;
}
.doctorInfo-Header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.doctorInfo-Header img{
    height: 250px;
}
.doctorInfo-Header-writeup{
    border: 1px solid rgb(98, 98, 247);
    border-radius: 10px;
    height: 250px;
    padding: 20px;
    text-align: left;
}
.degreeInfo button{
    background: none;
    border-radius: 15px;
    width: 50px;
    border: 1px solid;
    cursor: pointer;
}

.doctorInfo-Related-Doctors{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}