.footer{
    margin-top: 100px;
    text-align: center;
}
.footer p{
    padding: 20px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.first-foot{
    text-align: left;
    height: 300px;
}
.first-foot img{
    padding: 10px;
}
.first-foot p{
    padding: 5px;
}

.second-foot{
    text-align: left;
    height: 300px;
}
.second-foot h1{
    padding-bottom: 10px;
}
.second-foot li{
    text-decoration: none;
    padding-bottom: 10px;
    list-style: none;
}

.third-foot{
    height: 300px;
    text-align: left;
}
.third-foot h1{
    padding-bottom: 10px;
}
.third-foot p{
    padding-bottom: 10px;
}